<!DOCTYPE html>
<html lang="en">
<html 
    xmlns:th="https://thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="/salvarEstado" th:object="${estado}" method="POST">
        <label>Nome do estado</label>
        <input type="text" th:field="*{nome}">
        <label>Sigla do estado</label>
        <input type="text" th:field="*{sigla}">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>